name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # - name: Merge main into PR branch
      #   if: github.event_name == 'pull_request'
      #   run: |
      #     git config user.name "GitHub Actions"
      #     git config user.email "actions@github.com"
      #     git fetch origin main
      #     if ! git merge origin/main; then
      #       echo "Merge failed due to conflicts. Please rebase your branch on main."
      #       exit 1
      #     fi

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      # Everything we use is already cached anyway by nixpkgs
      # Until we actually have that many wrappers, this is not worth it.
      # Even with only 1 module changed,
      # uploading the delta afterwards is longer than the checks themselves currently.

      # - name: Setup Nix cache
      #   uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run checks
        run: nix flake check -Lvv --log-format bar-with-logs ./ci
